<app-header titulo="Card"></app-header>

<ion-content class="ion-padding">
  <ion-card mode="md">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores dolorem, sequi ex odio asperiores fugit porro aspernatur, ratione unde hic obcaecati, blanditiis nam quam ipsa pariatur maxime voluptates modi fugiat.
    </ion-card-content>
  </ion-card>

</ion-content>
